<script language="Javascript">

    var scansToBuild = new Array();

    function disableSubmit() {
        document.getElementById("submitBtn").disabled = true;
    }


    function enableSubmit() {
        document.getElementById("submitBtn").disabled = false;
    }


    function validate() {
        // At lest one scan must be checked.
        // isChildSelected() tells us that.
        return isChildSelected(0, "MPRAGE", "Prerequisite for this pipeline is a T1 (MPRAGE) image. Please select at least one T1 (MPRAGE) scan ");
    }

    function isChildSelected(index, key, msg) {
        var total = scansToBuild[index].size;
        var anychecked = false;
        for(i=0; i<total; i++) {
            if (document.getElementById(key +"_"+i).checked) {
                anychecked = true;
                enableSubmit();
                break
            }
        }

        if (!anychecked) {
            alert(msg);
            disableSubmit();
        }

        return anychecked;
    }

</script>

##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
    <DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">

#set ($sessionId = $om.getLabel())
<form name="FreesurferBuildOptions" method="post" action="$link.setAction("BuildAction")" onsubmit="return validate();">
Set the parameters required for the processing of your study by FreeSurfer.
<br/> <br/>
<table>
    <tr>
        <td>
            <b>
                <font face="$ui.sansSerifFonts">
                    Session: $sessionId
                </font>
            </b>
        </td>
        <td>
            <b>
                <font face="$ui.sansSerifFonts">
                    Project: $om.getProject()
                </font>
            </b>
        </td>
    </tr>
</table>
<br/>

#set ($mpragescanType = $buildableScanTypes.get($mpragekey))

#set ($disabled="")
#set ($mprageScans = $om.getUnionOfScansByType($mpragescanType))
#if ($mprageScans.size()==0)
    <DIV class="error">This session cannot be processed as there are no T1 scans for this session</DIV><br>
    #set ($disabled = "disabled")
#else
    #set ($key = $mpragekey)
    #set ($scans = $mprageScans)
    <script language="Javascript">
        var aScanType = {};

        aScanType.key = '$key';
        aScanType.size = $scans.size();
        scansToBuild.push(aScanType);
    </script>

    <table border="0"  bordercolor="#CC3333">
        <tr style="border-style:none">
            <td width="300" style="border-style:none" colspan="3">
                <p>&nbsp;&nbsp;Check scans to include in build:</p>
            </td>
        </tr>

        #set ($j = 0)
        #foreach ($scan in $scans)
            <tr style="border-style:none">
                <td >
                    <p>&nbsp;</p>
                </td>

                #if ($scan.getQuality().equalsIgnoreCase("usable"))
                    #set ($checked="checked")
                #else
                    #set ($checked="")
                #end

                <td >
                    <input type="checkbox" name="${key}_$j" id="${key}_$j" value="$scan.Id" $checked onclick="validate()">$scan.Id (<b>$!scan.getType()</b> Quality: $scan.Quality)
                </td>
                <td >
                    <p>&nbsp;</p>
                </td>
            </tr>

            #set ($j = $j + 1)
        #end
        <input type="hidden" name="${key}_rowcount" value="$j">

    </table>

#end

<br/>
#set ($useall_t1sSetting = $!projectSettings.get("useall_t1s").getCsvvalues())
<input type="checkbox" name="useall_t1s" id="useall_t1s" #if ($useall_t1sSetting=="1") checked #end >Use all T1s

#xdatPassItemFormFields($search_element $search_field $search_value $project)

    <input type="hidden" name="isDicom" value="$isDicom">
    <input type="hidden" name="freesurfer_pipelinename" value="$pipeline.getLocation()">


    <input type="submit" id="submitBtn" $disabled name="eventSubmit_doFreesurfer" value="Queue Job" />
        &nbsp;&nbsp;
    <input type="button" ONCLICK="javascript:self.close()" value="Close"/>
    <p>&nbsp;</p>
</form>

